extends layout/layout

block content
	h2.center.
		A really simple gulp boilerplate that sets up a static server with express that livereloads 
	h2.center.
		It also is set up with jade, sass, and coffeescript tasks.